@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&family=Noto+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.notion,
.notion-text,
.notion-quote,
.notion-list,
.notion-h-title {
  @apply leading-7;
  @apply font-sans;
}
.notion-code {
  @apply bg-gray-900;
}
.notion-bookmark {
  @apply border-2;
  @apply border-gray-100;
}
.notion-bookmark:hover {
  @apply border-blue-400;
}
.notion-viewport {
  z-index: -10;
}
.notion-asset-caption {
  @apply text-center;
}

.menu-enter {
  opacity: 0;
  transform: scale(0.9);
  transform-origin: top right;
}
.menu-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 200ms, transform 200ms;
}
.menu-exit {
  opacity: 1;
}
.menu-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transform-origin: top right;
  transition: opacity 200ms, transform 200ms;
}
